@{
    ViewData["Title"] = "Not Found";
}

<div class="text-danger">
    <h2>@ViewData["Title"]</h2>
    <p>The resource you are looking for cannot be found.  Please contact administrator for details.</p>
</div>

