@{
    ViewData["Title"] = "About";
}
<h2>Welcome to Inventory Control Demo Site!</h2>

<p>The site demonstrates features available for regular user.  To view admin features, you need to
   go to admin site and register as admin user.</p>